* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
.landing-page {
  width: 100vw;
  height: 100vh;
  background: #fed2af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: cursive;
  font-weight: 400;
}
#logo {
  margin: 3rem 0;
  max-width: 7rem;
  max-height: 8rem;
}
.title {
  margin: 2rem;
  color: #1a5f63;
  font-family: "Bungee Inline", cursive;
  text-decoration-line: underline;

  font-size: 3rem;
}
.sub-title {
  margin: 0 2rem;
  color: #7e775b;
  font-family: "Lobster", cursive;
  font-size: 1.7rem;
  text-align: center;
}
#open-button {
  margin: 4rem 0;
  background: #ff757d;
  color: #ffffff;
  border-radius: 0.7rem;
  border: none;
  padding: 0 1rem;

  font-family: "Bungee Inline", cursive;
  font-size: 1.5rem;
  box-shadow: 4px 5px 2px rgba(144, 101, 101, 0.943);
}
#open-button:hover {
  background: #fb4750;
}

/* all books section */

.all-books-section {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  background: #fadbbf;
  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr 0.2fr;
  grid-template-rows: 0.2fr 2.5fr 0.2fr;
  grid-template-areas:
    ".... header stationary ...."
    ".... books stationary  ...."
    ".... footer footer ....";
}
.all-books-header {
  grid-area: header;
}
.all-books-footer {
  grid-area: footer;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.all-books-container {
  grid-area: books;
  width: 90%;
  height: 85%;
  justify-self: start;
  background: #f2aa91;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 8rem);
  padding: 2rem;
  /* justify-content: center;
  align-items: center; */
  grid-gap: 1rem;
}

.books {
  background-image: url("./src/images/books/book1.png");
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid red; */
  color: #ffffff;

  font-family: cursive;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#add-book {
  width: 7rem;
  height: 7rem;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}
#add-book:hover {
  background: rgba(0, 0, 0, 0.2);
}
#open-book {
  background: #ff757d;
  color: #ffffff;
  border-radius: 0.7rem;
  border: none;
  padding: 0.5rem 1rem;

  font-family: cursive;
  font-size: 1.5rem;
  box-shadow: 4px 5px 2px rgba(144, 101, 101, 0.943);
}
#open-book:hover {
  background: #fb4750;
}
.stationary-image {
  grid-area: stationary;
  width: 80%;
  height: 90%;
  justify-self: center;
  align-self: center;
}

/* section inside the book  */

.inside-book-section {
  width: 100vw;
  height: 100vh;
  background: #faebdf;

  display: flex;
  justify-content: center;
  align-items: center;
}
.inside-book-container {
  padding: 1%;
  width: 90%;
  height: 90%;
  background: #400c0ec5;
  box-shadow: 5px 5px 4px rgba(31, 29, 29, 0.845);
  border-radius: 30px;

  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-rows: 0.3fr 4fr 0.6fr;

  grid-template-areas:
    ".... bookName topicName ...."
    "sidebar sheet sheet ...."
    "sidebar pageNumbers pageNumbers ....";
}
.book-title {
  grid-area: bookName;
  justify-self: start;
  align-self: end;
  font-size: 1.5rem;

  color: #9fa3da;
  font-family: cursive;
}
.topic-title {
  grid-area: topicName;
  justify-self: end;
  align-self: end;

  font-size: 1.2rem;
  color: #5bceac;
  font-family: cursive;
}
.tags {
  grid-area: sidebar;
  height: 95%;
}
.topics-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.topics {
  padding: 0;
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
  text-align: center;
  color: white;
  font-family: cursive;
  font-weight: 500;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  background: #ff757d;
  cursor: pointer;
}
.topic-selected {
  background: #5bceac;
}
#topic-1 {
  background: #ff757d;
}
#topic-2 {
  background: #5bceac;
}
#topic-3 {
  background: #ffac75;
}
#topic-4 {
  background: #bfb553;
}
#topic-5 {
  background: #4fdb72;
}
#topic-6 {
  background: #bc99ec;
}
#topic-7 {
  background: #5cc2c8;
}
.content-container {
  grid-area: sheet;
  padding: 2%;
  justify-self: stretch;
  align-self: stretch;
}

.white-sheet {
  width: 95%;
  height: 95%;
  padding: 2% 1% 2% 5%;
  font-size: 1rem;
  background: #f4f4f3;
  border: none;
  outline: none;
  resize: inherit;
  border-radius: 0.5rem;
  box-shadow: 0.6rem 0.6rem 4px #2a2a1f;
}

.pages-container {
  grid-area: pageNumbers;
  justify-self: stretch;
  align-items: center;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.page-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pages {
  margin: 0.3rem;
  padding: 0.1rem 0.3rem;
  background: #fc999e;
  border-radius: 0.7rem;
  text-align: center;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-topic,
.delete-topic {
  width: 6rem;
  height: 2rem;
  padding: 0 0.5rem;
  margin-right: 1%;
  color: #fff;
  background: #fb697f;
  box-shadow: 5px 5px 2px #382424;

  border-radius: 1rem;
  border: none;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.delete-topic {
  background-color: #5bceac;
}
.hidden {
  display: none;
}

@media only screen and (max-width: 860px) {
  #logo {
    margin: 2rem 0;
    max-width: 5rem;
    max-height: 6rem;
  }
  .title {
    margin: 1rem;
    font-size: 2rem;
  }
  .sub-title {
    margin: 0 2rem;
    font-size: 1.3rem;
  }
  #open-button {
    margin: 3rem 0;
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  /* all books section  */
  .all-books-section {
    grid-template-columns: 0.2fr 3fr 0.2fr;
    grid-template-rows: 0.2fr 3fr 0.2fr;
    grid-template-areas:
      ".... header  ...."
      ".... books  ...."
      ".... footer ....";
  }
  .all-books-container {
    grid-area: books;
    width: 90%;
    height: 90%;
    justify-self: center;
    background: #f2aa91;
    border-radius: 1rem;
    padding: 1rem;
  }
  .books {
    height: 6rem;
    margin: 1%;
    font-size: 0.9rem;
  }
  #add-book {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
  }
  .stationary-image {
    display: none;
  }
  /* section inside the book  */
  .book-title {
    font-size: 1.3rem;
  }

  .tags {
    height: 90%;
    width: 90%;
  }
  .topics {
    height: 1.5rem;
    font-size: 1rem;
  }
  .add-topic {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.7rem;
  }
  .delete-topic {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.7rem;
  }
}
